@font-face {
    font-family: Lemon;
    src: url(LEMONMILK-Regular.otf);
}

@font-face {
    font-family: font;
    src: url(font.ttf);
}

@font-face {
    font-family: nexa;
    src: url(nexa.ttf);
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: rgb(70, 70, 70);
    --secondary-color: rgb(54, 54, 54);
    --accent-color: rgb(54, 54, 54);
    --offset-color: rgb(180, 180, 180);
}

.dark-theme {
    --primary-color: rgb(70, 70, 70);
    --secondary-color: rgb(54, 54, 54);
    --offset-color: rgb(180, 180, 180);
}

.light-theme {
    --primary-color: rgb(207, 205, 205);
    --secondary-color: rgb(216, 216, 216);
    --offset-color: #6e6d6d;
}

.Moon-theme {
    --primary-color: rgb(22, 22, 22);
    --secondary-color: rgb(139, 139, 139);
    --offset-color: rgb(255, 255, 255);
}

.mariana-theme {
    --primary-color: rgb(24, 24, 24);
    --secondary-color: rgb(19, 19, 19);
    --offset-color: rgb(255, 255, 255);
}

.ocean-theme {
    --primary-color: rgb(0, 68, 255);
    --secondary-color: rgb(0, 110, 255);
    --offset-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scroll-bar)
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--accent-color); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accent-color); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color); 
  }


.normal-accent {
    --accent-color: #6A00FF;
    --brighter-accent-color: #e100ff;
}

.red-accent {
    --accent-color: #ff0000;
    --brighter-accent-color: #ff0000;
}

.blue-accent {
    --accent-color: #0011ff;
    --brighter-accent-color: #0044ff;
}

.yellow-accent {
    --accent-color: #fbff00;
    --brighter-accent-color: #c8ff00;
}

.pink-accent {
    --accent-color: #cc00ff;
    --brighter-accent-color: #ff00d4;
}

.green-accent {
    --accent-color: #33ff00;
    --brighter-accent-color: #00ff40;
}

.black-accent {
    --accent-color: #000000;
    --brighter-accent-color: #313131;
}

body {
    height: 100vh;
}

.pink-accent {
    --accent-color: #ff00ff;
}

body {
    background-color: var(--primary-color);
}
.navbutton {
    margin: 5px;
    padding: 0;
    width: 10%;
    height: 25px;
    border: 2px solid var(--accent-color);
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    background: transparent;
}


.navlogo {
    display: flex;
    align-items: center;
    font-size: 125%;
    margin: 0;
    flex-wrap: nowrap;
}

.navtext {
    width: 10%;
    height: 20px;
    font-family: Lemon;
    color: var(--accent-color);
    transition-duration: 500ms;
    
}

.navtextt {
    width: 10%;
    height: 30px;
    font-family: Lemon;
    color: var(--accent-color);
    transition-duration: 500ms;
    
}

li {
    list-style: none;
}

.navimgg {
    width: 40px;
    height: 40px;
}

.navbar {
    display: flex;
    justify-content:space-evenly;
    background-color: var(--secondary-color);
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0;
    height: 50px;
    align-items: center; 
    flex-direction: row;
    flex-wrap:nowrap;
    filter: drop-shadow(0 0 0.5rem black);
    z-index: 6;
}

.navimg {
    width: 15px;
    height: 15px;
}

.navbutton {
    transition-duration: 500ms;
    width: 10%;
    height: 20px;
    font-family: Lemon;
    color: var(--accent-color);
    transition-duration: 500ms;
}

.navbutton:hover {
    background-color: var(--accent-color);
    color: white;
}

.navtext:hover {
    color: white;
}

.navimg {
    transition-duration: 500ms;
}

.navbutton:hover .navimg {
    filter:invert(30%)
}

.welcome {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Lemon;

}

.welcometext {
    color: var(--accent-color);
    font-size: 40px;

}

.blank {
    background: transparent;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.button {
    background: transparent;
    border: 2px solid var(--accent-color);
    border-radius: 0.25rem;
}


.blank .button {
    color: var(--accent-color);
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
}

.blank .button:hover {
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    color: white;
}

.gamecontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 3rem;
    z-index: 1;
    margin: 100px
    
}

img {
    width: 100%;
    height: 100%;
    overflow: clip;
}

.box {
    font-family: Lemon;
    background: var(--secondary-color);
    font-size: 15px;
    position: relative;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 150px;
    width: 250px;
    padding: 0px;
    transition: all 500ms;
    object-fit: cover;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.01rem black);

}

.box:hover {
        box-shadow: var(--accent-color) 0px 0.35em 2em, var(--accent-color) 0px 0.175em 0.5em;
        filter: drop-shadow(0 0 0.01rem var(--accent-color));
        border: solid 0.5px var(--brighter-accent-color);
        transform: scale(1.1);
        z-index: 1;
}

.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: transparent;
    display: flex;
    flex-direction: column-reverse;
    opacity: 0;
    transition: 500ms;
}

.content:hover {
    opacity: 1;
    background: rgba(0,0,0,0.2);
}

.title {
    color: white;
    font-family: montserrat, sans-serif;
    padding: 0;
    margin: 0;
}

.tags {
    color: white;
    font-family: montserrat, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
 }

 .search {
    width: 25%;
    height: 25%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: solid 3px var(--accent-color);
 }

 .search {
    height: 30px;
    text-align: center;
    color: var(--accent-color);
 }

 .search::placeholder {
    font-family: montserrat, sans-serif;
    color: var(--accent-color);
    font-size: 15px;
}

.gameholder {
}

.frame {
    position: relative;
    width: 90%;
    height: 80%;
    z-index: 6;
    border: solid var(--accent-color);
    border-radius: 20px 20px 0px 0px;
}

.gamebarwrapper {
    width: 90%;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border: solid var(--accent-color);
    border-radius: 0px 0px 20px 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 3rem;
    z-index: 1;
}


.gamebar {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.fullscreen {
    width: auto;
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 25px;
}

.gamebar .gamename {
    justify-content: flex-start;
}

.wrapper {
    margin: 50px;
    border: 10px solid var(--secondary-color);
    border-radius: 25px;

}
.gamewrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1.5rem;
    height: 200px;
    position: relative;
    align-items: center;
}

.gamewrapper2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 5rem;
    height: 200px;
    position: relative;
    align-items: center;
}

.viewall {
    margin: 5px;
    padding: 0;
    width: 10%;
    height: 25px;
    font-size: 75%;
    border: 2px solid var(--accent-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 5px;
    background: transparent;
    font-family: font;
    transition: 500ms;
    cursor: pointer;
}

.gametitle {
    display: flex;
    font-family: montserrat, sans-serif;
    color: var(--accent-color);
    transition: 500ms;
}

.viewall:hover {
    background-color: var(--accent-color);
    color: white;
}


.gameholder {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.frame {
    position: relative;
    width: 90%;
    height: 80%;
    z-index: 2;
    border: solid var(--accent-color);
    border-radius: 20px 20px 0px 0px;
}

.gamebarwrapper {
    width: 90%;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border: solid var(--accent-color);
    border-radius: 0px 0px 20px 20px;
}

.gamebar {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.fullscreen {
    width: auto;
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 25px;
}

.gamebar .gamename {
    justify-content: flex-start;
}

.descholder {
    display: flex;
    width: 90%;
    align-items: center;
    height: 90%;
    position: absolute;
    top: 0;
    gap: 3rem;
    z-index: 1;
    font-family: font;
    justify-content: center;
}

.desc {
    background-color: var(--secondary-color);
    width: 25%;
    height: 40%;
    border-radius: 10px;
    transition: 500ms;
    font-size: 25px;
    text-align: center;
    filter: drop-shadow(0 0 0.5rem black);
    font-family: nexa;
    color: var(--accent-color);
    opacity: 0;
    z-index: 3;
}


.controlls {
    background-color: var(--secondary-color);
    width: 25%;
    height: 25%;
    font-size: 25px;
    border-radius: 10px;
    transition: 500ms;
    filter: drop-shadow(0 0 0.5rem black);
    font-family: nexa;
    color: var(--accent-color);
    opacity: 0;
    z-index: 3;
}

.gamename {
    font-family: Lemon;
    color: var(--accent-color);
}

.gameimg {
    border-radius: 5px;
}

.viewall {
    color: var(--accent-color);
}

















