:root {
  --primary-color: rgb(70, 70, 70);
  --secondary-color: rgb(54, 54, 54);
  --accent-color: rgb(54, 54, 54);
}
body {
background-color: var(--primary-color);
height: 100vh;
justify-content: center;
overflow: auto;
padding: 0px;
color: rgb(240, 240, 240);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 400;
text-align: center;
overflow: hidden;
}

.titlee {
  color: var(--accent-color);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

form {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border: solid var(--accent-color) 5px;
height: 50px;
width: 50%;
border-radius: 25px;
}

.search-input {
width: 100%;
display: block;
height: 50px;
border-radius: 20px;
font-size: 25px;
border: none;
text-decoration: none;
padding: 0;
margin: 0;
outline:none;
padding-block: 0;
padding-inline: 0;
text-align: center;
background: var(--secondary-color);
}

.proxywrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.favicon {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}


